<root>
  <service_settings_patch service_key="0xeb5102dc">
    <replace_value path="configSettings_initialized">1</replace_value>
    <replace_value path="configSettings">
      <unique_id>0x9d18ab5f</unique_id>
      <userGeoRegionToProcess>
        <item>ua</item>
        <item>ukr</item>
      </userGeoRegionToProcess>
    </replace_value>
  </service_settings_patch>
</root>