<root>
  <service_settings_patch service_key="0xeb5102dc">
    <replace_value path="configSettings_initialized">1</replace_value>
    <replace_value path="configSettings">
      <unique_id>0x9d18ab5f</unique_id>
      <hostName>downloads.upd.kaspersky.com</hostName>
      <ipWhiteList>
        <item>2a03:2480:8022::a</item>
        <item>2a03:2480:8028::6</item>
        <item>2001:1900:222b::7</item>
        <item>2a03:2480:8020::6</item>
        <item>2a03:2480:802d::6</item>
        <item>2a03:2480:802d::8</item>
        <item>2a03:2480:802f::19</item>
        <item>2a03:2480:8021::5</item>
        <item>2a03:2480:8000::4</item>
        <item>2a03:2480:802a::18</item>
        <item>2a03:2480:802d::a</item>
        <item>2a03:2480:8026::b</item>
        <item>2001:2030:e::6</item>
        <item>2a03:2480:802a::1a</item>
        <item>2a03:2480:8025::3</item>
        <item>2a03:2480:802f::1b</item>
        <item>2a03:2480:8033::7</item>
        <item>2001:df1:801:a010:3::2</item>
        <item>2a03:2480:8029::3</item>
        <item>2a03:2480:802b::5</item>
        <item>2a03:2480:8035::17</item>
        <item>2a02:2518:14::6</item>
        <item>2a03:2480:802b::3</item>
        <item>2a02:24b0:b00:3::6</item>
        <item>2a03:220:fab:1::6</item>
        <item>2a03:2480:8012::8</item>
        <item>2a03:2480:8027::6</item>
        <item>2a03:2480:8010::8</item>
        <item>80.231.123.131</item>
        <item>80.231.123.133</item>
        <item>80.239.197.106</item>
        <item>80.231.123.139</item>
        <item>212.73.221.217</item>
        <item>213.155.156.92</item>
        <item>81.19.104.79</item>
        <item>195.122.169.36</item>
        <item>212.8.233.167</item>
        <item>95.167.139.6</item>
        <item>93.191.13.100</item>
        <item>95.167.139.13</item>
        <item>93.159.230.19</item>
        <item>4.1.82.132</item>
        <item>93.191.13.211</item>
        <item>46.46.184.59</item>
        <item>62.76.91.139</item>
        <item>4.28.136.38</item>
        <item>79.133.169.7</item>
        <item>81.19.104.60</item>
        <item>80.239.169.149</item>
        <item>185.201.2.5</item>
        <item>185.201.1.43</item>
        <item>185.201.3.11</item>
        <item>37.203.128.10</item>
        <item>37.203.129.5</item>
        <item>64.120.89.148</item>
        <item>209.51.171.230</item>
        <item>66.110.49.20</item>
        <item>185.201.0.5</item>
        <item>193.238.132.3</item>
      </ipWhiteList>
    </replace_value>
  </service_settings_patch>
</root>