<root>
  <service_settings_patch service_key="0xeb5102dc">
    <replace_value path="configSettings_initialized">1</replace_value>
    <replace_value path="configSettings">
      <unique_id>0x9d18ab5f</unique_id>
      <ipWhiteList>
        <item>130.117.190.203</item>
        <item>38.117.98.230</item>
        <item>62.128.100.148</item>
        <item>66.110.49.107</item>
        <item>77.74.177.233</item>
        <item>80.239.170.149</item>
        <item>80.239.170.176</item>
        <item>81.19.104.200</item>
      </ipWhiteList>
      <localeFilter>
        <item>en</item>
        <item>kk</item>
      </localeFilter>
      <userGeoRegionToProcess>
        <item>ua</item>
        <item>ukr</item>
      </userGeoRegionToProcess>
    </replace_value>
  </service_settings_patch>
</root>