<root>
  <service_settings_patch service_key="0xeb5102dc">
    <replace_value path="configSettings_initialized">1</replace_value>
    <replace_value path="configSettings">
      <unique_id>0x9d18ab5f</unique_id>
      <hostName>downloads.upd.kaspersky.com</hostName>
      <ipWhiteList>
        <item>80.231.123.131</item>
        <item>80.231.123.133</item>
        <item>80.239.197.106</item>
        <item>80.231.123.139</item>
        <item>212.73.221.217</item>
        <item>213.155.156.92</item>
        <item>81.19.104.79</item>
        <item>195.122.169.36</item>
        <item>212.8.233.167</item>
        <item>95.167.139.6</item>
        <item>93.191.13.100</item>
        <item>95.167.139.13</item>
        <item>93.159.230.19</item>
        <item>4.1.82.132</item>
        <item>93.191.13.211</item>
        <item>46.46.184.59</item>
        <item>62.76.91.139</item>
        <item>4.28.136.38</item>
        <item>79.133.169.7</item>
        <item>81.19.104.60</item>
        <item>80.239.169.149</item>
        <item>185.201.2.5</item>
        <item>185.201.1.43</item>
        <item>185.201.3.11</item>
        <item>37.203.128.10</item>
        <item>37.203.129.5</item>
        <item>64.120.89.148</item>
        <item>209.51.171.230</item>
        <item>66.110.49.20</item>
        <item>185.201.0.5</item>
        <item>193.238.132.3</item>
      </ipWhiteList>
      <dnsServerInfo>
        <item unique_id="0xb6f1d1cc">
          <dnsAddress>8.8.8.8</dnsAddress>
          <dnsServerType>0</dnsServerType>
        </item>
        <item unique_id="0xb6f1d1cc">
          <dnsAddress>1.1.1.1</dnsAddress>
          <dnsServerType>0</dnsServerType>
        </item>
        <item unique_id="0xb6f1d1cc">
          <dnsAddress>223.6.6.6</dnsAddress>
          <dnsServerType>0</dnsServerType>
        </item>
        <item unique_id="0xb6f1d1cc">
          <dnsAddress>9.9.9.9</dnsAddress>
          <dnsServerType>0</dnsServerType>
        </item>
        <item unique_id="0xb6f1d1cc">
          <dnsAddress>185.228.168.168</dnsAddress>
          <dnsServerType>0</dnsServerType>
        </item>
      </dnsServerInfo>
      <localeFilter>
        <item>ar-AE</item>
        <item>bg-BG</item>
        <item>cs-CZ</item>
        <item>da-DK</item>
        <item>da-DK-xnorthguard</item>
        <item>de-CH</item>
        <item>de-DE</item>
        <item>de-DE-xmegaport</item>
        <item>de-LU</item>
        <item>el-GR</item>
        <item>en</item>
        <item>en-AE</item>
        <item>en-AU</item>
        <item>en-CA</item>
        <item>en-EE</item>
        <item>en-GB</item>
        <item>en-GB-xnorthguard</item>
        <item>en-HK</item>
        <item>en-HR</item>
        <item>en-ID</item>
        <item>en-IL</item>
        <item>en-IN</item>
        <item>en-LT</item>
        <item>en-LV</item>
        <item>en-MY</item>
        <item>en-TH</item>
        <item>en-TW</item>
        <item>en-US</item>
        <item>en-US-xmms</item>
        <item>en-US-xnotgdpr</item>
        <item>en-US-xrealdefense</item>
        <item>en-VN</item>
        <item>en-ZA</item>
        <item>es-ES</item>
        <item>es-MX</item>
        <item>es-US</item>
        <item>es-US-xnotgdpr</item>
        <item>et-EE</item>
        <item>fa-IR</item>
        <item>fi-FI</item>
        <item>fi-FI-xnorthguard</item>
        <item>fr-BE</item>
        <item>fr-CA</item>
        <item>fr-CH</item>
        <item>fr-FR</item>
        <item>fr-FR-xnordnet</item>
        <item>fr-FR-xorange</item>
        <item>fr-FR-xsnaac</item>
        <item>fr-IR</item>
        <item>fr-ZA</item>
        <item>hu-HU</item>
        <item>id-ID</item>
        <item>it-CH</item>
        <item>it-IT</item>
        <item>ja-JP</item>
        <item>ja-JP-xkddi</item>
        <item>ko-KR</item>
        <item>lt-LT</item>
        <item>lv-LV</item>
        <item>mk-MK</item>
        <item>nb-NO</item>
        <item>nb-NO-xnorthguard</item>
        <item>nl-NL</item>
        <item>pl-PL</item>
        <item>pt-BR</item>
        <item>pt-BR-xuol</item>
        <item>pt-PT</item>
        <item>pt-ZA</item>
        <item>ro-RO</item>
        <item>ru-BY</item>
        <item>ru-EE</item>
        <item>ru-KZ</item>
        <item>ru-LT</item>
        <item>ru-LV</item>
        <item>ru-RU</item>
        <item>ru-RU-xkse</item>
        <item>ru-RU-xnurtelecom</item>
        <item>ru-RU-xpreload</item>
        <item>ru-UA</item>
        <item>sq-AL</item>
        <item>sr-Cyrl-RS</item>
        <item>sr-Latn-RS</item>
        <item>sv-SE</item>
        <item>sv-SE-xmms</item>
        <item>sv-SE-xnorthguard</item>
        <item>th-TH</item>
        <item>tr-TR</item>
        <item>uk-UA</item>
        <item>vi-VN</item>
        <item>zh-Hans-CN</item>
        <item>zh-Hant-HK</item>
        <item>zh-Hant-TW</item>
      </localeFilter>
      <userGeoRegionToProcess>
        <item>ua</item>
        <item>ukr</item>
      </userGeoRegionToProcess>
    </replace_value>
  </service_settings_patch>
</root>